# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#
.ICEauthority
.audacity-data/
.bash_logout
.cache/
.config/.mono/
.config/Popcorn-Time/
.config/QtProject.conf
.config/Trolltech.conf
.config/autostart/
.config/chromium/
.config/dconf/
.config/dleyna-renderer-service.conf
.config/dunst/
.config/enchant/
.config/evolution/
.config/gedit/
.config/gnome-initial-setup-done
.config/goa-1.0/
.config/gtk-2.0/
.config/gtk-3.0/
.config/ibus/
.config/keepassx/
.config/keepassxc/
.config/menus/
.config/nautilus/
.config/pavucontrol.ini
.config/pcloud/
.config/pulse/
.config/qutebrowser/
.config/systemd/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc/
.config/wireshark/
.config/yelp/
.esd_auth
.gnome/
.lesshst
.local/
.mozilla/
.pcloud/
.pki/
.rdmrc
.recently-used
.ssh/
.tmp4278
.var/
.viminfo
.wget-hsts
Documents/
Downloads/
Passwords.kdbx
bin-files/
i3-volume/
myinit.org
snap/
src/
torrent_config/
*~