! Extensions
! ==========
!
! - matcher,selection-to-clipboard: for clicking on URLs
! - font-size: for scaling fonts
!   https://github.com/majutsushi/urxvt-font-size/blob/master/font-size
!
URxvt.perl-ext-common: default,matcher,selection-to-clipboard,font-size


! Fonts
! =====
URxvt.font: xft:Monospace:size=14
URxvt.allow_bold: true


! Scrolling
! =========
URxvt.saveLines: 10000
URxvt.scrollBar: false
URxvt.scrollstyle: rxvt
URxvt.scrollBar_floating: true
URxvt.scrollColor: #aaaaaa
URxvt.scrollBar_right: true
URxvt.thickness: 12

! Scroll locking
URxvt.scrollTtyOutput:      false
URxvt.scrollWithBuffer:     true
URxvt.scrollTtyKeypress:    true


! Interaction
! ===========

! allow filepaths to select as one, otherwise delimit
URxvt.cutchars: "\"(),<>[]{}|'`"

! For clickable urls (RMB), not an exact match to gnome-shell.
URxvt.url-launcher: xdg-open
URxvt.matcher.button: 3


! Key Bindings
! ============

! Copy/Paste, same keys as gnome-terminal
! https://stackoverflow.com/questions/39884093
! Disable ISO 14755 unicode input so we can use Ctrl-Shift bindings
URxvt.iso14755:        false
URxvt.iso14755_52:     false
! Disable Ctrl-Alt-c & Ctrl-Alt-v bindings (optional)
URxvt.keysym.C-M-c:    builtin-string:
URxvt.keysym.C-M-v:    builtin-string:
! Bind Ctrl-Shift-c & Ctrl-Shift-v to copy and paste
! I dont know why, but I needed to use hex keysym values to get it to work
URxvt.keysym.C-S-0x43: eval:selection_to_clipboard
URxvt.keysym.C-S-0x56: eval:paste_clipboard

URxvt.keysym.Home: \033[H
URxvt.keysym.End:  \033[F

! match vte/xterm
URxvt.keysym.Control-Up:    \033[1;5A
URxvt.keysym.Control-Down:  \033[1;5B
URxvt.keysym.Control-Left:  \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C

! clear the scrollback
URxvt.keysym.Control-l: command:\033c

! scale fonts
URxvt.keysym.C-S-plus: font-size:increase
URxvt.keysym.C-KP_Add: font-size:increase
URxvt.keysym.C-S-underscore: font-size:decrease
URxvt.keysym.C-KP_Subtract: font-size:decrease
URxvt.keysym.C-0: font-size:reset
URxvt.keysym.C-KP_0: font-size:reset

!URxvt.keysym.C-Up:     font-size:increase
!URxvt.keysym.C-Down:   font-size:decrease
!URxvt.keysym.C-S-Up:   font-size:incglobal
!URxvt.keysym.C-S-Down: font-size:decglobal
!URxvt.keysym.C-equal:  font-size:reset
!URxvt.keysym.C-slash:  font-size:show

! Theme/Colors
! ============

URxvt.fading: 0

URxvt.cursorColor: #AAAAAA
URxvt.cursorBlink: 1
URxvt.cursorUnderline: 1

URxvt.background: black
URxvt.foreground: gray

!Tango colors
! black
*color0:  #2E3436
*color8:  #555753
! red
*color1:  #a40000
*color9:  #EF2929
! green
*color2:  #4E9A06
*color10: #8AE234
! yellow
*color3:  #C4A000
*color11: #FCE94F
! blue
*color4:  #3465A4
*color12: #729FCF
! purple
*color5:  #75507B
*color13: #AD7FA8
! orange (replaces cyan)
*color6:  #ce5c00
*color14: #fcaf3e
! white
*color7:  #babdb9
*color15: #EEEEEC


!Linux colors
! Colors
!URxvt*background: #000000
!URxvt*foreground: #B2B2B2
!! black
!URxvt*color0:  #000000
!URxvt*color8:  #686868
!! red
!URxvt*color1:  #B21818
!URxvt*color9:  #FF5454
!! green
!URxvt*color2:  #18B218
!URxvt*color10: #54FF54
!! yellow
!URxvt*color3:  #B26818
!URxvt*color11: #FFFF54
!! blue
!URxvt*color4:  #1818B2
!URxvt*color12: #5454FF
!! purple
!URxvt*color5:  #B218B2
!URxvt*color13: #FF54FF
!! cyan
!URxvt*color6:  #18B2B2
!URxvt*color14: #54FFFF
!! white
!URxvt*color7:  #B2B2B2
!URxvt*color15: #FFFFFF

!! Tango Colors
!
!! black dark/light
!URxvt.color0: #171A1B
!URxvt.color8: #555753
!
!!! red dark/light
!URxvt.color1: #CC0000
!URxvt.color9: #FF0000
!
!!! green dark/light
!URxvt.color2: #00DD00
!URxvt.color10: #00FF00
!
!!! yellow dark/light
!URxvt.color3: #DDDD00
!URxvt.color11: #FFFF00
!
!!! blue dark/light
!URxvt.color4: #8888FF
!URxvt.color12: #AAAAFF
!
!!! magenta dark/light
!URxvt.color5: #75507B
!URxvt.color13: #AD7FA8
!
!!! cyan dark/light
!URxvt.color6: #06989A
!URxvt.color14: #34E2E2
!
!!! white dark/light
!URxvt.color7: #D3D7CF
!URxvt.color15: #EEEEEC
